<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    $partial("templates/header.html")$
  </head>
  <body data-controller="$title$" class="theme-base-08">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

    $partial("templates/sidebar.html")$

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home" style="text-decoration: none;">Marc Laughton</a>
            <small>fullstack javascript / python dev</small>
          </h3>
        </div>
      </div>
      <div class="container content">
        $body$
      </div>
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    </div>

    $partial("templates/footer.html")$

  </body>
</html>
