<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<title>Welcome! - $title$</title>
<meta charset="utf-8" />
<!-- Fonts -->
<link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Marc Laughton Full Atom Feed" />
<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
