<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="changing-headline">
      <h1>
        <a href="/" title="Home" style="text-decoration: none;">Marc Laughton</a><br>
        <!-- <a href="/" title="Home" style="text-decoration: none;">Marc λaughton</a><br> -->
        <small>I am a<br><div id="personal-description">programmer.</div></small>
      </h1>
    </div>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/about.html">About</a>
    <a class="sidebar-nav-item" href="/projects.html">Code</a>
    <a class="sidebar-nav-item" href="/blog_index.html">Blog</a>
    <a class="sidebar-nav-item" href="/archive.html">Archive</a>
  </nav>
  <div class="sidebar-item">
    <h4 class="">Want to get in touch?</h4>
    <a class="email" href="mailto:info@marclaughton"><i class="fa fa-envelope-square fa-2x"></i></a>
    <a href="http://github.com/bashhack"><i class="fa fa-github-square fa-2x"></a></i>
    <a href="http://linkedin.com/in/marclaughton"><i class="fa fa-linkedin-square fa-2x"></a></i>
    <a href="http://twitter.com/marclaughton"><i class="fa fa-twitter-square fa-2x"></a></i>
  </div>
  <div class="sidebar-item">
    <p class="tiny-note muted">Made with <i class="fa fa-heart"></i> on a <i class="fa fa-linux"></i></p>
  </div>
</div>
